<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Cafe Agora{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'materialize/css/personalizado.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'materialize/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


<meta http-equiv="refresh" content="20">
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Preço do Café Online!</h1>
    <div class="row center">
      <h5 class="header col s12 light">O preço do café hoje é de U${{preco}}</h5>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'materialize/js/materialize.js' %}"></script>
    <script src="{% static 'materialize/js/init.js' %}"></script>
</body>
</html>
