{% extends 'base.html' %}
{% block container %}
<meta http-equiv="refresh" content="20">
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Preço do Café Online!</h1>
    <div class="row center">
      <h5 class="header col s12 light">O preço do café hoje é de U${{preco}}</h5>
    </div>
 
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Seja um Streamer</a>
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Assista Agora</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Qualidade de Transmissão</h5>

          <p class="light">A metodologia utilizada para transmitir vídeos no StreamTeam permite que todos consigam assistir vídeos em tempo real, sem congelamentos, devido ao emprego de um sistema de autoconfiguração de qualidade.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Faça parte da Comunidade</h5>

          <p class="light">Nossa plataforma permite que streamers e viewers se conectem e formem comunidades dentro de um assunto específico, nelas você encontra outros usuários que possuem interesses em comum o que facilita a criação de parcerias entre usuários.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Fácil de Usar</h5>

          <p class="light">O StreamTeam é uma plataforma extremamente fácil de ser utilizada, tanto para fazer uma transmissão quanto para quem deseja apenas assistir outros streamers. Clique no botão<a href="{% url 'comecando' %}"> começando </a>para saber como é fácil começar a sua stream com a qualidade que você merece.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
{% endblock %}
